.productCard {
  margin-left: 10px;
  padding: 10px;
  width: 32%;
  margin-bottom: 2%;
  color: white;
  background-color: green;
}

.productCard:nth-child(3n+1) { order: 1; }
.productCard:nth-child(3n+2) { order: 2; }
.productCard:nth-child(3n) { order: 3; }


.cardsList {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 600px; 
}

.cardsList::before,
.cardsList::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

@media screen and (max-width: 1150px) {
  .productCard {
    background-color:royalblue;
  }
.productCard:nth-child(2n+1) { order: 1; }
.productCard:nth-child(2n+2) { order: 2; }
.productCard {
  justify-content: space-between;
}
}

@media screen and (max-width: 550px) {
  .productCard {
    background-color: olivedrab;
  }
  .cardsList {
    justify-content: center;
  }
.cardsList::before,
.cardsList::after {
  content: "";
  flex-basis: 0%;
  width: 0;
  order: 2;
}
}